<section class="container pt-5 pb-lg-2 pb-xl-4 py-xxl-5 my-5">

    <app-breadcrumbs [breadcrumbs]="[
    { label: 'Home', url: '/' },
    { label: 'Account', url: '/account' },
    { label: 'Verification' }
  ]"></app-breadcrumbs>

    <div class="row pb-1 pb-sm-3 pb-lg-4">
        <div class="col-lg-4 pe-xxl-4">
            <h1 class="display-2" data-aos="flip-up" data-aos-duration="200"><i class="h1 pt-1 text-nav fw-bold ai-check-alt"> </i>Verify</h1>
            <p class="fs-lg pb-4 mb-0 mb-sm-2" data-aos="flip-up" data-aos-duration="500">
                Verify / Recovery your account
            </p>
        </div>
        <div class="col-lg-8 col-xl-7 offset-xl-1">
            <form class="row g-4 needs-validation" (ngSubmit)="onSubmit()" [formGroup]="verifyForm">
                <div class="col-sm-6">
                    <label class="form-label fs-base" for="username">Email</label>
                    <input class="form-control form-control-lg" type="text" placeholder="Your name" required id="email"
                        formControlName="email" name="email" />
                </div>

                <div class="col-sm-6">
                    <label class="form-label fs-base" for="otp">OTP</label>
                    <input class="form-control form-control-lg" type="number" placeholder="Enter OTP" required
                        id="otp" formControlName="otp" name="otp" />
                </div>

                <div class="col-sm-12 pt-2">
                    <button class="btn btn-lg btn-primary" type="submit">
                        <span *ngIf="isLoading">
                            <span class="spinner-grow spinner-grow-sm me-2" role="status" aria-hidden="true"></span>
                            Loading...
                        </span>

                        <span *ngIf="!isLoading">{{buttonText}}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>