<!-- Breadcrumb + Services grid -->
<section class="container py-5 mt-5 mb-md-3 mb-lg-4 mb-xxl-5">

    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="pt-lg-3 pb-lg-4 pb-2 breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Apps</li>
        </ol>
    </nav>

    <!-- Page title -->
    <h1 class="text-center">Our services</h1>
    <p class="text-center pb-4 mb-2 mb-lg-3">We provide a wide range of consulting services</p>

    <!-- Services grid -->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4 pb-sm-3 pb-md-4 pb-xl-5">

        <!-- Item -->
        <div class="col">
            <a class="card card-hover-primary bg-secondary border-0 h-100 text-decoration-none" href="https://jassi.me">
                <div class="card-body pb-0">
                    <svg width="40" height="40" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 10H21M3 14H21M8 18H21M3 6H21" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    <h3 class="h4 card-title mt-0">Formatter</h3>
                    <p class="card-text">
                        Fomrat your css and js on the go
                    </p>
                </div>
                <div class="card-footer border-0 py-3 my-3 mb-sm-4">
                    <div class="btn btn-lg btn-icon btn-outline-primary rounded-circle pe-none">
                        <i class="ai-external-link"></i>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>