<!-- Customizer offcanvas -->
<div class="offcanvas offcanvas-end" id="customizer" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1">
    <div class="offcanvas-header border-bottom">
        <h4 class="offcanvas-title">Panel</h4>
        <button class="btn-close" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body card-container">
        <!-- <app-audiostream></app-audiostream> -->

        <div class="card text-center card border-0 bg-secondary mb-2 wip widget">
            <div class="card-header py-2">Themes</div>
            <div class="card-body py-2">
                <div class="row row-cols-2 g-3 mb-5" id="theme-colors">

                    <div class="col">
                        <div class="text-dark fs-sm fw-medium mb-2">Warning</div>
                        <div class="color-swatch" id="theme-warning"
                            data-color-labels="[&quot;theme-warning&quot;, &quot;warning&quot;, &quot;warning-rgb&quot;]">
                            <label class="ratio ratio-4x3 border rounded-1 cursor-pointer mb-1" for="warning"
                                style="background-color: #edcb50;" role="button"></label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-dark fs-sm fw-medium mb-2">Info</div>
                        <div class="color-swatch" id="theme-info"
                            data-color-labels="[&quot;theme-info&quot;, &quot;info&quot;, &quot;info-rgb&quot;]">
                            <label class="ratio ratio-4x3 border rounded-1 cursor-pointer mb-1" for="info"
                                style="background-color: #3f7fca;" role="button"></label>

                        </div>
                    </div>
                    <div class="col">
                        <div class="text-dark fs-sm fw-medium mb-2">Success</div>
                        <div class="color-swatch" id="theme-success"
                            data-color-labels="[&quot;theme-success&quot;, &quot;success&quot;, &quot;success-rgb&quot;]">
                            <label class="ratio ratio-4x3 border rounded-1 cursor-pointer mb-1" for="success"
                                style="background-color: #3fca90;" role="button"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card text-center card border-0 bg-secondary mb-2 wip widget">
            <div class="card-header py-2">Fonts</div>

            <app-audio-player class="card-body py-2"></app-audio-player>
            sasa
        </div>

    </div>
</div>

<!-- Customizer toggler -->
<span class="position-fixed top-50 bg-light text-dark fw-medium border rounded-pill shadow" cdkDrag
    style="right: -1.75rem; margin-top: -1rem; padding: .25rem .75rem; transform: rotate(-90deg); font-size: calc(var(--ar-body-font-size) * .8125); letter-spacing: .075rem; z-index: 1030;">

    <a href="#customizer" data-bs-toggle="offcanvas" class="text-decoration-none">
        <i class="ai-settings fs-lg text-primary fs-base me-1 ms-n1"></i>
        &nbsp;&nbsp;&nbsp;
    </a>


    <svg width="24px" fill="currentColor" viewBox="0 0 24 24" cdkDragHandle>
        <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
        <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
</span>