<!-- <section class="container py-5 mt-2 mb-xl-3 mb-xxl-5">
    <div class="row pt-2">
        
        <div class="col-lg-6 d-flex flex-column mb-4 mb-lg-0 pb-sm-3 pb-lg-0">
            <h1 class="display-1 text-uppercase fw-bold mt-auto mb-2 mt-2" data-aos="flip-up" data-aos-duration="500"
                data-aos-offset="50" data-disable-parallax-down="md" data-disable="md">
                <span class="fw-normal">JSM33T's</span> Music<span class="d-none d-md-inline-block align-middle ms-4"
                                                                       style="width: 120px; height: 2px; background-color: currentColor;"></span>
            </h1>
            <ul class="nav mt-auto mx-n2 pt-sm-3 pt-lg-0" data-aos="flip-up" data-aos-duration="500"
                data-aos-offset="50" data-disable-parallax-down="md" data-disable="md">
                <li class="nav-item me-3"><a class="nav-link p-2" href="#">youtube</a></li>
                <li class="nav-item me-3"><a class="nav-link p-2" href="#">soundcloud</a></li>
                <li class="nav-item"><a class="nav-link p-2" href="#">instagram</a></li>
            </ul>
        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-duration="500" data-aos-offset="50"
             data-disable-parallax-down="md" data-disable="md">
            <img src="{{asset}}/assets/covers/studio-cover.png" />
        </div>
    </div>
</section> -->
<app-coming-soom></app-coming-soom>