<!-- Video + Parallax -->
<!-- <div class="col-lg-6 mb-4 mb-lg-0 pb-3 pb-lg-0"> -->
    <div class="mx-auto mx-lg-0" style="max-width: 582px" #parallaxContainer>
        <div class="z-3" data-depth="0.1">
            <div class="position-relative bg-dark mx-auto"
                style="max-width: 61%; padding: 0.3125rem; margin-bottom: 9.9%; border-radius: calc(var(--ar-border-radius) * 2.125)">
                <div class="position-absolute start-50 translate-middle-x" style="top: 4.4%; width: 85%">
                    <div class="row row-cols-4 gx-2 mb-3">
                        <div class="col">
                            <div class="border-white border opacity-80"></div>
                        </div>
                        <div class="col">
                            <div class="border-white border opacity-80"></div>
                        </div>
                        <div class="col">
                            <div class="border-white border opacity-80"></div>
                        </div>
                        <div class="col position-relative">
                            <div class="position-absolute top-0 start-0 w-100 border-white border opacity-30"></div>
                            <div class="position-absolute top-0 start-0 w-50 border-white border opacity-80"></div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <img class="rounded-circle" src="{{ homeAssets }}/avatar.jpg" width="35"
                            alt="Avatar" />
                        <div class="fs-xs ps-2" data-bs-theme="light">
                            <span class="text-nav fw-bold me-1">jsm33t</span>
                            <span class="text-body-secondary">12 min</span>
                        </div>
                    </div>
                </div>
                <video class="d-block w-100" autoplay loop muted
                    style="border-radius: calc(var(--ar-border-radius) * 1.875)">
                    <source src="{{ homeAssets }}/video.mp4" type="video/mp4" />
                </video>
            </div>
        </div>

        <div class="" data-depth="0.3">
            <img src="{{ homeAssets }}/shape01.svg" alt="Background shape" />
        </div>
        <div class="z-2" data-depth="-0.1">
            <img src="{{ homeAssets }}/shape02.svg" alt="Background shape" />
        </div>
        <div class="" data-depth="-0.15">
            <img src="{{ homeAssets }}/shape03.svg" alt="Background shape" />
        </div>
        <div class="z-2" data-depth="-0.25">
            <img src="{{ homeAssets }}/shape04.svg" alt="Background shape" />
        </div>
    </div>
<!-- </div> -->